<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
    </div>

  </article>
        <div>

          <% total = 0%>
          <% @reviews.each do |review| %>

          Name: <%= review.user.first_name%>
          <%= review.user.last_name%><br>

          Rating: <%= review.rating %><br>
          <% total += review.rating %>
          Description: <%= review.description %><br><br>
          <% end %>

          Product Rating: <%= @reviews.length == 0 ? 0 : total / @reviews.length  %>
          <%= form_for :review, url: @product.id.to_s+"/reviews"  do |f| %>
          </div>

          <dl class="dl-horizontal">
                    <dt><h4>Write a review</h4></dt>
                    <dd></dd>
          <dt>Rating:</dt>
          <dd><%= f.select :rating, [1,2,3,4,5], class:"form-control" %></dd>
          <dt>Description:</dt>
          <dd><%= f.text_area :description,  class:"form-control"%></dd>
          <dd><%= f.submit "Submit", class:"btn btn-primary"%></dd>
          <% end %>

          </dl>
      </div>

</section>
